*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #46475e;

}
header {
    background-color: #f5fafc;
    color: black;
    padding: 20px;
    text-align: center;
}
header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}
header img {
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}
nav menu{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
/*any anchor inside of a link*/

nav menu li a{
    color: black;
    font-weight: bold;
    padding: 10px 15px;
    transition: background-color 0.3s;
}
main{
    max-width: 800px;
    margin: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }
#login-btn{
    background-color: #1db954;
    color:white;
    padding: 20px 25px;
    border:none;
    border-radius: 25px;
    font-size:1.3em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-bottom: 20px;
}
#login-btn:hover{
    background-color: #1ed760;

}


main h2{
    font-size: 1.8em;
    color: #1a1a2a;
    margin-bottom: 10px;

}
main p{
    font-size: 1.2em;
    margin-bottom: 20px;
}

#analyze-btn{
    background-color: #4dcbff;
    color: white;
    padding: 20px 25px;
    border:none;
    border-radius: 25px;
    font-size: 1.3em;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-bottom: 20px;
}
#analyze-btn:hover{
    background-color: #57e9ff;
}
footer{
    text-align: center;
    padding:20px;
    background-color: #1a1a2e;
    color:white;
    position: fixed;
    bottom: 0;
    width: 100%;


}
footer a{
    color: #1db953;
    text-decoration: none;
    font-weight: bold;
    
}
footer a:hover{
    text-decoration: underline;
}