*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #ebedfc;

}
header {
    background-color: #1b212e;
    color: white;
    padding: 20px;
    text-align: center;
}